:root {
  --additional-colorsyellow: rgba(255, 193, 7, 1);
  --additional-colorswhite: rgba(255, 255, 255, 1);
  --alertssuccess: rgba(0, 197, 102, 1);
  --alertserror: rgba(255, 71, 71, 1);
  --alertswarning: rgba(250, 204, 21, 1);
  --main-colorblack: rgba(16, 13, 34, 1);
  --greyscalegrey-10: rgba(246, 246, 246, 1);
  --greyscalegrey-20: rgba(236, 241, 246, 1);
  --greyscalegrey-30: rgba(227, 233, 237, 1);
  --greyscalegrey-40: rgba(209, 216, 221, 1);
  --greyscalegrey-50: rgba(191, 198, 204, 1);
  --greyscalegrey-60: rgba(156, 164, 171, 1);
  --greyscalegrey-70: rgba(135, 134, 144, 1);
  --greyscalegrey-80: rgba(102, 112, 122, 1);
  --greyscalegrey-90: rgba(67, 78, 88, 1);
  --greyscalegrey-100: rgba(31, 44, 55, 1);
  --heading-120-font-family: "Anton-Regular", Helvetica;
  --heading-120-font-weight: 400;
  --heading-120-font-size: 120px;
  --heading-120-letter-spacing: 0px;
  --heading-120-line-height: 124.53711032867432%;
  --heading-120-font-style: normal;
  --heading-50-font-family: "Anton-Regular", Helvetica;
  --heading-50-font-weight: 400;
  --heading-50-font-size: 50px;
  --heading-50-letter-spacing: 0px;
  --heading-50-line-height: 124.53711032867432%;
  --heading-50-font-style: normal;
  --heading-40-font-family: "Anton-Regular", Helvetica;
  --heading-40-font-weight: 400;
  --heading-40-font-size: 40px;
  --heading-40-letter-spacing: 0px;
  --heading-40-line-height: 124.53711032867432%;
  --heading-40-font-style: normal;
  --heading-24-font-family: "PlusJakarta Sans-ExtraBold", Helvetica;
  --heading-24-font-weight: 800;
  --heading-24-font-size: 24px;
  --heading-24-letter-spacing: -0.72px;
  --heading-24-line-height: 124.53711032867432%;
  --heading-24-font-style: normal;
  --heading-18-font-family: "PlusJakarta Sans-Bold", Helvetica;
  --heading-18-font-weight: 700;
  --heading-18-font-size: 18px;
  --heading-18-letter-spacing: 0px;
  --heading-18-line-height: normal;
  --heading-18-font-style: normal;
  --body-16-font-family: "PlusJakarta Sans-Bold", Helvetica;
  --body-16-font-weight: 700;
  --body-16-font-size: 16px;
  --body-16-letter-spacing: 0px;
  --body-16-line-height: normal;
  --body-16-font-style: normal;
  --body-14-font-family: "PlusJakarta Sans-Medium", Helvetica;
  --body-14-font-weight: 500;
  --body-14-font-size: 14px;
  --body-14-letter-spacing: 0px;
  --body-14-line-height: 24px;
  --body-14-font-style: normal;
  --body-12-font-family: "PlusJakarta Sans-Medium", Helvetica;
  --body-12-font-weight: 500;
  --body-12-font-size: 12px;
  --body-12-letter-spacing: 0px;
  --body-12-line-height: 24px;
  --body-12-font-style: normal;
}
